

     <!--Bio-->
     <hr class="my-4">
     <div class="container mt-5">
       <div class="row extra-margin">
           <div class="col-md-4">
               <div class="text-center">
                   <img src="img1.jpg" alt="" class="img-thumbnail rounded-circle mb-2">
               <h2>Kaity Modesto</h2>
               <i class="bi bi-envelope"></i>
               <i class="bi bi-instagram"></i>
               <i class="bi bi-youtube"></i>
               </div>
           
           </div>
           <div class="col-md-8">
               <p class ="lead">
                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
               </p>
               <hr />

               <p>
                   Sed vestibulum massa nec purus semper finibus. Ut eget malesuada lacus. Mauris euismod aliquam augue malesuada varius. Donec in enim eu orci vestibulum tincidunt. Duis fringilla, nisl et vehicula rutrum, eros justo pharetra felis, in ullamcorper felis tellus at velit. Ut cursus id lorem quis lobortis. Quisque luctus ut nunc non consequat. Sed laoreet dolor vel enim lacinia suscipit. Aenean aliquam nec sapien ac pulvinar. Pellentesque quis tortor non dolor iaculis dignissim ac non neque. In hac habitasse platea dictumst. Praesent ac quam est. Nulla facilisi. Phasellus urna mi, iaculis nec velit in, tempor feugiat elit.
               </p>
               <p>
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus, magna ac mattis volutpat, justo enim facilisis est, quis lacinia orci ex a elit. Nunc placerat, mauris efficitur elementum accumsan, ante lacus posuere dolor, id tristique purus justo nec sem. Pellentesque eget quam sed lacus feugiat bibendum vitae id tortor. Ut placerat mattis eros ut consectetur. Duis porta diam a augue pharetra fringilla. Morbi fermentum neque a magna mollis tempor. Maecenas rutrum eleifend purus, eu cursus felis eleifend in. Suspendisse eget sollicitudin odio. Nam ut metus nec diam sodales lacinia eu ut ipsum. Donec vitae urna justo. Nunc ex lectus, commodo a tortor ut, consectetur rutrum leo. Vestibulum a mi non metus pretium imperdiet. Etiam
               </p>
           
           </div>
           
         </div>
       </div>
   </div>
    

   