

         <!--Jumbotron Section-->
        
           <div class="container text-white">
            <div class="jumbotron">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">Welcome, thank you for visiting me today.</p>
                <hr class="my-4">
                <p> My work is about finding your inner voice and manifesting and unfolding your life span development.</p>
                <p class="lead">
                  <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
                </p>
              </div>

               

           </div>
            
      
   

      
 <!--Footer-->
 
    <footer>
        <div class="container bg-success mt-5 p-5 text-white">
            <div class="row">
                <div class="col-md-2">
                    <h1 class="font-weight-bold">KT Mode</h1>
                </div>

                <div class="col-md-3">
                    <h4 class="font-weight-blod mb-3">My Work</h4>
                    <p>Consult</p>
                    <p>Learn</p>
                    <p>Newsletter</p>
                    <p>Shop</p>
                </div>

                <div class="col-md-3">
                    <h4 class="font-weight-blod mb-3">About</h4>
                    <p>My Story</p>
                    <p>Events</p>
                    <p>Terms and Conditions</p>
                </div>

                <div class="col-md-3">
                    <h4 class="font-weight-blod mb-3">Contact</h4>
                    <i class="bi bi-envelope"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-youtube"></i>
                    
                </div>
            </div>
        </div>
    </footer>
      
      


          
       
        
         

   

    

        
        